*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #EFD592;
}
.hamburger {
	margin-right: 30px;
	width: 30%;
	z-index: 3;

	.navbar {
		position: absolute;
		float: right;
		right: 2em;
		top: 1em;
		height: 75px;
		width: 75px;
		margin: 0;
		padding: 0;
		border-radius: 50px;

		@media screen and (max-width: 768px) {
			height: 60px;
			width: 60px;
		}
		 
		&-toggler {
			position: absolute;
			left: 50%;
			transform: translate(-50%);
			border: none;
			outline: none;

			&-icon {
				width: 2.5em;
				height: 2.5em;

				@media screen and (max-width: 768px) {
					width: 2em;
					height: 2em;
				}
			}
		}
	}
}
.app {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  padding: 40px;
  gap: 40px;
	font-family: 'Roboto', sans-serif;

	@media screen and (max-width: 768px) {
		flex-direction: column-reverse;
		padding-top: 100px;
	}

	@media screen and (max-width: 453px) {
		flex-direction: column-reverse;
	}
	
	.first-container,
	.second-container {
		flex-basis: 50%;
		flex-direction: row;
		height: 100%;

		@media screen and (max-width: 768px) {
			flex-basis: 100%;
			height: 50%;
		}
	
		@media screen and (max-width: 453px) {
			flex-basis: 100%;
			height: 50%;
		}

		h1 {
			font-weight: 800;
			margin-top: 2em;
			margin-bottom: 50px;

			@media screen and (max-width: 453px) {
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}
		p {
			margin-bottom: 50px;
			width: 80%;
			line-height: 2em;

			@media screen and (max-width: 453px) {
				margin-bottom: 1em;
				line-height: 1.5em;
				width: 90%;
			}
		}

		h6 {
			font-weight: 700;
			letter-spacing: 3px;

			@media screen and (max-width: 453px) {
				margin-bottom: 1em;
			}
		}
	}

	.second-container {
		background-color: #242D38;
	}

}
